server:
  port: 8080
spring:
  profiles:
    active: test
  application:
    name: TEST_PROFILE_ACTIVE
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
    hikari:
      initialization-fail-timeout: 60000
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  jackson:
    date-format: yyyy-MM-dd
    time-zone: America/Sao_Paulo
    property-naming-strategy: com.fasterxml.jackson.databind.PropertyNamingStrategies.SnakeCaseStrategy
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 123
            client-secret: 12345
            scope: openid,profile,email
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://openidconnect.googleapis.com/v1/userinfo
            user-name-attribute: sub
jwt:
  secret: secret
  expiration: expiration
  frontend-redirect-url: http://localhost:8080
rate-limit:
  minutes: 1
  tokens: 10
frontend:
  uri: http://localhost:8080